form {
  max-width: 900px;
  margin: 2rem auto;
  padding: 2rem;
  background: #f9f9f9;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

legend {
  font-size: 2rem;
  font-weight: 600;
  color: rgb(95, 9, 9);
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.3rem;
  color: #005b96;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5rem;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.3rem;
  color: rgb(95, 9, 9);
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"],
input[type="file"],
textarea {
  width: 100%;
  padding: 0.1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

input:focus,
textarea:focus {
  border-color: #0077cc;
  outline: none;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

button {
  background-color: #0077cc;
  color: white;
  padding: 0.6rem 1.2rem;
  width: 130px;
  height: 40px;
  border: none;
  border-radius: 8px;
  font-size: 0.7rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #005fa3;
}

fieldset > div {
  margin-bottom: 2rem;
}

.pro-btn, .pro-btn2, .btn-edu {
  text-align: right;
}